@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  background-color: #000;

  font: normal 100%/1.5 sans-serif;
  color: #fff;
}

*, *::before, *::after {
  box-sizing: inherit;
}

main{   
    text-align: center;
}

.clock-face {
  height: 300px;
  width: 300px;
  background-image: url(../img/clock-face.svg); 
  position: relative;
  margin: 0 auto 0;    
}

.clock-face:target .hand-hour {
    transform:rotate(360deg)
}

.clock-face:target .hand-minute {
    transform:rotate(4320deg)
}


.hand {
    width: 14px;
    position: absolute;
    right: calc(50% - 7px);
    bottom: 50%;
    transition: all 6s linear;
    transform-origin: bottom center;
}

.center {
    width: 28px;
    position: absolute;
    right: calc(50% - 14px);
    bottom: calc(50% - 14px)
}

.button {
    width: 6em;
    line-height: 6em;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: green;
    display: inline-block;
    margin-bottom: 1em;
    text-decoration: none;
    color:white;
    transition: all 1000ms linear;  
}

.button1 {
    width: 6em;
    line-height: 6em;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    background-color: red;
    display: inline-block;
    margin: 1em;
    text-decoration: none;
    color:white;
    transition: all 1000ms linear;   
}

.button:hover {
    background-color:white;
    color:black
   
}

.button1:hover {
    background-color:white;
    color:black
   
}
